.for-children-list{
    list-style-type: none;
    font-size: 9pt;
    margin-left: -8%;
}

p{
    cursor: default;
}

.prelabel{
    opacity: 0.7;
}

.prelabel:hover{
    text-decoration: underline;
}