.input-panel{
    display: flex;
    flex-wrap: wrap;
}

input[type="checkbox"] {
    width: 20px;
    height: 20px;
}

.btn-delete {
    display: inline-flex;
    padding: 5px;
}

input {
    width: 100px;
    height: 40px;
    font-size: 10pt;
    margin: 5px;
}

::placeholder {
    font-size: 8pt;
}
:-ms-input-placeholder { 
    font-size: 8pt;
  }
  
  ::-ms-input-placeholder { 
    font-size: 8pt;
  }