.for-horizontal-line {
  width: auto;
  height: 2px;
  border-top: 1px solid rgb(182, 178, 178);
  border-bottom: 1px solid rgb(182, 178, 178);
  background-color: rgb(243, 240, 240);
  margin-top: 2px;
}

.for-item {
  display: inline;
}

.for-list {
  display: flex;
  flex-wrap: nowrap;
  margin: 2px 0 5px 10px;
  overflow-y: hidden;
  overflow-x: scroll;
  scrollbar-width: none;
}


.for-top-navbar {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
}